.u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/WorkshopImage2.jpeg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-1 .u-text-1 {
  margin: 485px 540px 0 0;
}

.u-section-1-1 .u-text-2 {
  margin: 8px 383px 60px -80px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 340px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 283px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 120px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 287px;
  }
}.u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/WorkshopImage1.jpeg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-2 .u-text-1 {
  margin: 524px 0 0;
}

.u-section-1-2 .u-text-2 {
  margin: 30px 383px 60px -80px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 283px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 287px;
  }
}.u-block-e7ce-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-e7ce-3 {
  position: absolute;
  left: 0;
}

.u-block-e7ce-4 {
  position: absolute;
  right: 0;
}.u-section-2 .u-sheet-1 {
  min-height: 646px;
}

.u-section-2 .u-text-1 {
  width: 292px;
  margin: 57px auto 0;
}

.u-section-2 .u-table-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}.u-section-3 .u-sheet-1 {
  min-height: 685px;
}

.u-section-3 .u-text-1 {
  width: 448px;
  margin: 57px auto 0;
}

.u-section-3 .u-table-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-3 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-3 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 594px;
}

.u-section-4 .u-text-1 {
  width: 448px;
  margin: 57px auto 0;
}

.u-section-4 .u-table-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-4 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-4 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-4 .u-text-2 {
  width: 837px;
  font-size: 1rem;
  margin: 30px auto 20px;
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1294px;
}

.u-section-5 .u-gallery-1 {
  height: 1200px;
  grid-gap: 17px 17px;
  width: 1100px;
  margin: 47px auto;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 17px 17px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1119px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1025px;
    grid-template-columns: auto auto auto;
    width: 940px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1272px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1178px;
    grid-template-columns: auto auto;
    width: 720px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3628px;
  }

  .u-section-5 .u-gallery-1 {
    height: 3534px;
    grid-template-columns: auto;
    width: 540px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2319px;
  }

  .u-section-5 .u-gallery-1 {
    height: 2225px;
    width: 340px;
  }
}